# Virtual Environment
.venv/
venv/

# User data and results
email_files/
processed_emails/
 .mcp_memory/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / Editor specific
.vscode/
.idea/


#Ignore vscode AI rules
.github\instructions\codacy.instructions.md
